:root {
  --white: #ffffff;
  --toledo-blue: #191970;
  --vp-c-brand: var(--toledo-blue);
  --vp-home-hero-name-color: var(--toledo-blue);
}

html.dark {
  --vp-c-brand: var(--white);
  --vp-home-hero-name-color: var(--white);
}

html.dark a {
  color: var(--white);
}

a {
  color: var(--toledo-blue);
}
